body {
    background-color: white;
}
section {
    background-color: #e9eff1;
    margin: 1em 0em 1em 1em;
    border-radius: 0.2em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h2 {
    color: #b5131a;
    padding: 1em;
    margin: 0em;
}
table {
    margin-left: 2em;
    width: 100%;
    border-spacing: 1em;
    table-layout: fixed;
}
.lower-bounds-input 
{
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em 1em 0.5em 1em;
    text-align: right;
    width: 25%;
}
.grade-input-box {
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5em 1em 0.5em 1em;   
}
#histogram {
    margin-bottom: 1em;
}
#hist-table {
    table-layout: auto;
    width:auto;
}
.histogram-value {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 0;
}
.left, .right {
    float: left;
    width: 25em
}
#grade-input {
    padding: 1em 1em 5em 1em;
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}